/* основной цвет текста/SLATE /#434455/ */
/* вторичный цвет текста//NAVY BLUE/#2E2F42;*/
/* белый WHITE color: #FFFFFF;*/
/* Accent Синий IRIS color: #4D5AE5;*/
/* футер CLOUD color: #F4F4FD; */
/* основной фон background: #E5E5E5; */
/* вторичный фон NAVY BLUEbackground #2E2F42*/

:root {
  /* Fonts */
  --primary-font: Roboto; sans-serif;
  --secondary-font: Raleway, sans-serif;
  /* Colors */
  --primary-text-color: #434455;
  --title-text-color: #2e2f42;
  --accent-text-color: #4d5ae5;
  --hover-text-color: #404bbf;
  --primary-bg-color: #e5e5e5;
  --cloud-text-color: #f4f4fd;
  --secondary-bg-color: #2e2f42;
  --section-bg-color: #ffffff;
}
body {
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
  font-family: var(--primary-font);
  line-height: 1,50;
  letter-spacing: 2%
}
/* Title1 */
.hero-title {
font-style: Bold;
font-size: 56px;
line-height: 1,07;
text-align: Center;
letter-spacing: 2%;
color: #ffffff;
}
/* Title2 */
.title {
font-style: Bold;
font-size: 36px;
line-height: 1,11;
text-align: Center;
letter-spacing: 2%;
color: var(--title-text-color);
}
/* Title3 */
.section-title {
font-style: Medium;
Font-size: 20px;
line-height: 1,2;
letter-spacing: 2%;
color: var(--title-text-color);
}
/* Site-nav */
.logo {
  color: var(--accent-text-color);
}
.logo-part {
  color: var(--title-text-color);
}
.logo:hover {
  color: var(--accent-text-color);
}
.logo-part:hover {
  color: var(--title-text-color);
}
.logo-part-light {
  color: #ffffff;
}
.logo-part-light:hover {
  color: var(--title-text-color);
}
.list {
  list-style: none;
}
.site-nav .link {
font-style: Medium;
line-height: 1,50;
letter-spacing: 2%;
color: var(--title-text-color);
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--hover-text-color);
}
.link {
  text-decoration: none;
  font-style: normal;
}
/* Address */
.contacs {
  color: var(--primary-text-color);
}
.contacs:hover,
.contacs:focus {
  color: var(--hover-text-color);
}
/* Section */
.section {
  background-color: var(--section-bg-color);
}
.section-secondary {
  background-color: var(--secondary-bg-color);
}

/* Button */
.button {
  color: var(--primary-text-color);
  background-color: var(--primary-bg-color);
  font-family: inherit;
  cursor: pointer;
}
.button.primary {
  color: #ffffff;
  background-color: var(--hover-text-color);
}
.button.secondary {
  color: var(--accent-text-color);
  background-color: #f4f4fd;
}
/* Footer */
.footer-text {
  color: var(--cloud-text-color);
}
